### Install

In [171]:
!pip3 install mysql-connector-python

Requirement already satisfied: mysql-connector-python in /opt/anaconda3/lib/python3.9/site-packages (8.1.0)
Requirement already satisfied: protobuf<=4.21.12,>=4.21.1 in /opt/anaconda3/lib/python3.9/site-packages (from mysql-connector-python) (4.21.12)
DEPRECATION: pyodbc 4.0.0-unsupported has a non-standard version number. pip 23.3 will enforce this behaviour change. A possible replacement is to upgrade to a newer version of pyodbc or contact the author to suggest that they release a version with a conforming version number. Discussion can be found at https://github.com/pypa/pip/issues/12063

[notice] A new release of pip is available: 23.2 -> 23.2.1
[notice] To update, run: pip install --upgrade pip

### import package

In [172]:
import mysql

In [ ]:
mysql.

In [173]:
import mysql
from mysql import connector
import mysql.connector

In [146]:
from mysql import connector

## Connecting to Database

In [174]:
sqlcourse = connector.connect(
  host="localhost",
  user="root",
  password="viswa2005"
    
)

print(sqlcourse)

<mysql.connector.connection.MySQLConnection object at 0x7fafd8fb0490>

## Defining the cursor to execure the commands

In [133]:
cur = sqlcourse.cursor()

## Creating a new database

In [113]:
#cur.execute("DROP DATABASE sqldemo")

In [177]:
cur.execute("CREATE DATABASE IF NOT EXISTS myfristdb")

In [181]:
cur.execute("CREATE DATABASE IF NOT EXISTS sqldemo4")
print(cur)

MySQLCursor: CREATE DATABASE IF NOT EXISTS sqldemo4

In [182]:
c

TypeError: 'NoneType' object is not callable

## Check if Database Exists

In [183]:
cur.execute("SHOW DATABASES")

In [184]:
for db in cur:
    print(db)

('information_schema',)
('mydemo123',)
('mydemoxyz',)
('myfristdb',)
('mysql',)
('order_database',)
('performance_schema',)
('sqldemo1',)
('sqldemo2',)
('sqldemo4',)
('sqlfordemo',)
('Supply_chain',)
('sys',)

In [185]:
cur.execute("use sqldemo4")

In [186]:

cur.execute("CREATE TABLE customers_list1 (name VARCHAR(255), address VARCHAR(255))")

## Primary Key
### When creating a table, you should also create a column with a unique key for each record.

### This can be done by defining a PRIMARY KEY.

In [187]:
# if table already exists use ALTER TABLE
cur.execute("ALTER TABLE customers_list1 ADD COLUMN id INT AUTO_INCREMENT PRIMARY KEY")

## Insert into table

In [140]:
def data_entry_table():
    cur.execute("INSERT INTO customers_list VALUES('Rohan','Car street, 5')")
    
    sqlcourse.commit()

In [ ]:
# list - [], any datatype/object, mutable - manipulation to list is possible
# tuple - () - any dataype, immutable
#dictionary
#set

In [ ]:
cur.execute("INSERT INTO customers_list1 (name, address) VALUES ('ABC','45,xyz street" ))
cur.execute("INSERT INTO customers_list1 (name, address) VALUES ('def','25,stu street" ))

In [189]:
sql = "INSERT INTO customers_list1 (name, address) VALUES (%s, %s)"
val = [
  ('Peterson', 'Lowlystreet 4'),
  ('Amira', 'Loveland st 652'),
  ( 'Harry', 'Mountainblue 21'),
  ('Mike', 'DownValley 345'),
  ('Sandra', 'Ocean blvd 2'),
  ('Betson', 'Green Grass 1'),
  ('Ricky', 'Sky st 331'),
  ('Sunny', 'One way 98'),
  ('Victor', 'Yellow Garden 2'),
  ('Bobby', 'Park Lane 38'),
  ('Wilson', 'Central st 954'),
  ('Chuan', 'Main Road 989'),
  ('Violet', 'Sideway 1633')
]

cur.executemany(sql, val)

sqlcourse.commit()

In [ ]:
cur.

In [191]:
print(cur.rowcount, "rows were inserted.")

13 rows were inserted.

In [193]:
# Get Inserted ID
sql = "INSERT INTO customers_list1 (name, address) VALUES (%s, %s)"
val = ("Michelle", "Blue Village")
cur.execute(sql, val)

sqlcourse.commit()

print("1 record inserted, ID:", cur.lastrowid)

1 record inserted, ID: 27

In [194]:
# SELECT Command
cur.execute("SELECT * FROM customers_list1")

myresult = cur.fetchall()
print(myresult)
for x in myresult:
  print(x)

[('Peterson', 'Lowlystreet 4', 1), ('Amira', 'Loveland st 652', 2), ('Harry', 'Mountainblue 21', 3), ('Mike', 'DownValley 345', 4), ('Sandra', 'Ocean blvd 2', 5), ('Betson', 'Green Grass 1', 6), ('Ricky', 'Sky st 331', 7), ('Sunny', 'One way 98', 8), ('Victor', 'Yellow Garden 2', 9), ('Bobby', 'Park Lane 38', 10), ('Wilson', 'Central st 954', 11), ('Chuan', 'Main Road 989', 12), ('Violet', 'Sideway 1633', 13), ('Peterson', 'Lowlystreet 4', 14), ('Amira', 'Loveland st 652', 15), ('Harry', 'Mountainblue 21', 16), ('Mike', 'DownValley 345', 17), ('Sandra', 'Ocean blvd 2', 18), ('Betson', 'Green Grass 1', 19), ('Ricky', 'Sky st 331', 20), ('Sunny', 'One way 98', 21), ('Victor', 'Yellow Garden 2', 22), ('Bobby', 'Park Lane 38', 23), ('Wilson', 'Central st 954', 24), ('Chuan', 'Main Road 989', 25), ('Violet', 'Sideway 1633', 26), ('Michelle', 'Blue Village', 27)]
('Peterson', 'Lowlystreet 4', 1)
('Amira', 'Loveland st 652', 2)
('Harry', 'Mountainblue 21', 3)
('Mike', 'DownValley 345', 4)
('Sandra', 'Ocean blvd 2', 5)
('Betson', 'Green Grass 1', 6)
('Ricky', 'Sky st 331', 7)
('Sunny', 'One way 98', 8)
('Victor', 'Yellow Garden 2', 9)
('Bobby', 'Park Lane 38', 10)
('Wilson', 'Central st 954', 11)
('Chuan', 'Main Road 989', 12)
('Violet', 'Sideway 1633', 13)
('Peterson', 'Lowlystreet 4', 14)
('Amira', 'Loveland st 652', 15)
('Harry', 'Mountainblue 21', 16)
('Mike', 'DownValley 345', 17)
('Sandra', 'Ocean blvd 2', 18)
('Betson', 'Green Grass 1', 19)
('Ricky', 'Sky st 331', 20)
('Sunny', 'One way 98', 21)
('Victor', 'Yellow Garden 2', 22)
('Bobby', 'Park Lane 38', 23)
('Wilson', 'Central st 954', 24)
('Chuan', 'Main Road 989', 25)
('Violet', 'Sideway 1633', 26)
('Michelle', 'Blue Village', 27)

In [206]:
# Selecting columns

cur.execute("SELECT address, name FROM customers_list1 ORDER BY name limit 5")

myresult = cur.fetchall()

for x in myresult:
  print(x)

('Loveland st 652', 'Amira')
('Loveland st 652', 'Amira')
('Green Grass 1', 'Betson')
('Green Grass 1', 'Betson')
('Park Lane 38', 'Bobby')

In [125]:
# Using the fetchone() Method
#If you are only interested in one row, you can use the fetchone() method.

#The fetchone() method will return the first row of the result:
cur.execute("SELECT * FROM customers_list")

myresult = cur.fetchone()

print(myresult)

('Peterson', 'Lowlystreet 4', 1)

In [170]:
# SQL Query - where, order by, limit
sql = "select * from customers_list where address like '%st%"
  
# Executing query
cur.execute(sql)
  
myresult = cur.fetchall()
  
for x in myresult:
    print(x)

ProgrammingError: 1064 (42000): You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near ''%st%' at line 1

In [208]:
# SQL Query - where, order by, limit
sql = "select name from customers_list1 where address = 'Yellow Garden 2'"
  
# Executing query
cur.execute(sql)
  
myresult = cur.fetchall()
  
for x in myresult:
    print("the name of the customer is: ", x)

the name of the customer is:  ('Victor',)
the name of the customer is:  ('Victor',)

In [128]:
# WHERE
#sql = "SELECT * FROM customers_list WHERE address ='Park Lane 38'"

cur.execute("SELECT * FROM customers_list")

myresult1 = cur.fetchall()

for x in myresult1:
  print(x)

InternalError: Unread result found

In [ ]:
# WHERE
#sql = "SELECT * FROM customers_list WHERE address ='Park Lane 38'"

cur.execute("SELECT * FROM customers_list WHERE address LIKE 'Park Lane 38'")

myresult = cur.fetchall()

for x in myresult:
  print(x)